#mainAnchorPane {
    -fx-background-color: #24282e;
}

#mainTitle {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #24282e;
}

.button {
    -fx-background-color:#24282e;
    -fx-border-width: 0.5px;
    -fx-border-color: #000;
    -fx-text-fill: #e6e6e6;
}

.button:hover {
    -fx-background-color:#263031;
}

.button:pressed {
    -fx-background-color:#222;
}